body {
    background-color: #0080AA;
}

.center {
    margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    width: 125px;
    border: 3px solid black;
    padding: 10px;
	text-align: center;
}

p{
	display:inline;
}


*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.help-Center{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
    width: 140px;
    border: 3px solid black;
    padding: 10px;
	text-align: center;
}

/*--------------------- Graph made by Alex at https://forums.obsidianportal.com/discussion/3897/responsive-xp-bar --------------------------*/
.graph {
width: 0
height: 30px;
border: 5px solid #888;
background-color: #CCC;
-webkit-gradient(linear, left top, right top, from(#A8A8A8), to(#CCC));
background-image: -webkit-linear-gradient(left, #A8A8A8, #CCC);
background-image: -moz-linear-gradient(center top, #A8A8A8, #CCC);
background-image: linear-gradient(to right, #A8A8A8, #CCC);
position: fixed;
    top: 0;
    right: auto;
	left: auto;
}

.bar {
height: 29px;
background-color: red;
-webkit-gradient(linear, left top, right top, from(darkred), to(red));
background-image: -webkit-linear-gradient(left, darkred, red);
background-image: -moz-linear-gradient(left, darkred, red);

background-image: linear-gradient(to right, darkred, red);
}

.xpValue {
position: absolute;
text-align: center;
width: 75%;
margin: 0px;
line-height: 30px;
}

/*----------------------------------------------------------- end graph ----------------------------------------------------------------*/

.center-trans{
	padding:10px;
    width:710px;
    position:fixed;
	top: 0;
    right: auto;
	left: auto;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0);
	
}